In [8]:
!pip3 install selenium

Collecting selenium
  Downloading selenium-4.16.0-py3-none-any.whl (10.0 MB)
     ---------------------------------------- 10.0/10.0 MB 2.3 MB/s eta 0:00:00
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from selenium) (1.26.14)
Collecting trio~=0.17
  Downloading trio-0.23.2-py3-none-any.whl (461 kB)
     -------------------------------------- 461.6/461.6 kB 1.8 MB/s eta 0:00:00
Collecting sniffio>=1.3.0
  Using cached sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: exceptiongroup in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Installing collected packages: wsproto, sniffio, outcome, trio, trio-websocket, selenium
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed outcome-1.3.0.post0 selenium-4.16.0 sniffio-1.3.0 trio-0.23.2 trio-websocket-0.11.1 wsproto-1.2.0

WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
    WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)

In [6]:
!sudo apt install brave-browser

'sudo' is not recognized as an internal or external command,
operable program or batch file.

In [16]:
from bs4 import BeautifulSoup
import requests
import json

# Send a GET request to the target URL
response = requests.get('https://worldpopulationreview.com/country-rankings/gdp-per-capita-by-country')

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Locate the table elements
tables = soup.find_all('table')

# Function to extract data from a table
def extract_table_data(table):
    headers = [header.text for header in table.select('tr:nth-of-type(1) th')]
    data_rows = table.select('tr:nth-of-type(n+2)')
    data = []

    for row in data_rows:
        row_data = [cell.text for cell in row.select('td')]
        row_dict = {headers[i]: row_data[i] for i in range(len(headers))}
        data.append(row_dict)

    return data

# Scrape the data from the tables
output = {
    "Top 10 Countries with the Highest GDP per Capita (US Dollars)": extract_table_data(tables[0]),
    "10 Countries with the Lowest GDP per Capita in the World (US Dollars)": extract_table_data(tables[1]),
}

# Print the extracted data as JSON
print(json.dumps(output, indent=2))

{
  "Top 10 Countries with the Highest GDP per Capita (US Dollars)": [
    {
      "Country": "Liechtenstein",
      "GDP Per Capita - UN 2022": "197267.66"
    },
    {
      "Country": "Luxembourg",
      "GDP Per Capita - UN 2022": "125897.20"
    },
    {
      "Country": "Bermuda",
      "GDP Per Capita - UN 2022": "117568.24"
    },
    {
      "Country": "Norway",
      "GDP Per Capita - UN 2022": "106622.83"
    },
    {
      "Country": "Ireland",
      "GDP Per Capita - UN 2022": "105993.27"
    },
    {
      "Country": "Switzerland",
      "GDP Per Capita - UN 2022": "93636.42"
    },
    {
      "Country": "Cayman Islands",
      "GDP Per Capita - UN 2022": "91420.00"
    },
    {
      "Country": "Qatar",
      "GDP Per Capita - UN 2022": "87974.17"
    },
    {
      "Country": "Singapore",
      "GDP Per Capita - UN 2022": "78114.62"
    }
  ],
  "10 Countries with the Lowest GDP per Capita in the World (US Dollars)": [
    {
      "Country": "Yemen",
      "GDP Per Capita - UN 2022": "326.65"
    },
    {
      "Country": "Afghanistan",
      "GDP Per Capita - UN 2022": "344.65"
    },
    {
      "Country": "Sierra Leone",
      "GDP Per Capita - UN 2022": "404.54"
    },
    {
      "Country": "South Sudan",
      "GDP Per Capita - UN 2022": "422.98"
    },
    {
      "Country": "Central African Republic",
      "GDP Per Capita - UN 2022": "429.40"
    },
    {
      "Country": "Madagascar",
      "GDP Per Capita - UN 2022": "505.04"
    },
    {
      "Country": "Mozambique",
      "GDP Per Capita - UN 2022": "558.30"
    },
    {
      "Country": "Niger",
      "GDP Per Capita - UN 2022": "588.17"
    },
    {
      "Country": "North Korea",
      "GDP Per Capita - UN 2022": "590.45"
    }
  ]
}

In [1]:
import requests
from bs4 import BeautifulSoup

url = "https://www.cnbctv18.com/business/vedanta-will-be-a-trillion-dollar-company-in-next-10-years-says-anil-agarwal-16819691.htm"

# Send a request to the website
response = requests.get(url)

# Parse the HTML code
soup = BeautifulSoup(response.content, "html.parser")

# Find the text that you want to extract
articles = soup.find("div", class_=["jsx-1801027680 new-article", "jsx-1801027680 art-page-wrapper"])

# Iterate through all the articles and extract the text
for article in articles:
    text = article.text

    
# Print the text
print(text)

Vedanta, under the visionary leadership of Chairman Anil Agarwal, has emerged as a prominent force in the global market.Share Market LiveNSE Addressing the company's shareholders, Agarwal said that his ambition is to transform Vedanta into a trillion-dollar enterprise in the next ten years."Our vision is that Vedanta will be more than one trillion dollar company in next 10 years. We will produce our own copper, oil and gas," Agarwal added.According to him, innovation and developing new products are key for growing the company.Also Read: Anil Agarwal aims to make Vedanta Resources a debt free companyHe also added that Vedanta is the ambassador of India to the whole world.Watch video for entire conversation.First Published: May 31, 2023 6:15 PM ISTContinue ReadingCheck out our in-depth Market Coverage, Business News & get real-time Stock Market Updates on CNBC-TV18. Also, Watch  our channels CNBC-TV18, CNBC Awaaz and CNBC Bajar Live on-the-go!Follow us on: TagsAnil AgarwalVedantaRecommended ArticlesView AllMahindra's aerospace arm to supply over 5,000 components for Airbus aircraft under new contractJan 17, 2024 IST2 Min ReadHappiest Minds Q3 Results | IT company's net rises 3.5%, revenue up 12%Jan 17, 2024 IST2 Min ReadAverage number of years to become a unicorn falls from 8.4 years in 2022 to 5.5 years in 2023Jan 17, 2024 IST3 Min ReadPersistent Systems board to consider stock split on January 19-20Jan 17, 2024 IST2 Min Read

In [3]:
df

,Winner,Margin,Target,Overs,Opposition,Ground,Match Date,Scorecard
0,India,317 runs,391,22.0,v Sri Lanka,Thiruvananthapuram,15 Jan 2023,ODI # 4505
1,Australia,309 runs,400,21.0,v Netherlands,Delhi,25 Oct 2023,ODI # 4681
2,Zimbabwe,304 runs,409,25.1,v U.S.A.,Harare,26 Jun 2023,ODI # 4601
3,India,302 runs,358,19.4,v Sri Lanka,Wankhede,2 Nov 2023,ODI # 4690
4,New Zealand,290 runs,403,28.4,v Ireland,Aberdeen,1 Jul 2008,ODI # 2727
...,...,...,...,...,...,...,...,...
95,India,181 runs,312,42.3,v Namibia,Pietermaritzburg,23 Feb 2003,ODI # 1964
96,England,181 runs,369,39.0,v New Zealand,The Oval,13 Sep 2023,ODI # 4643
97,Australia,180 runs,255,27.4,v Bangladesh,Darwin,30 Aug 2008,ODI # 2758
98,Sri Lanka,180 runs,321,31.5,v South Africa,Colombo (RPS),20 Jul 2013,ODI # 3392
99,Pakistan,180 runs,339,30.3,v India,The Oval,18 Jun 2017,ODI # 3894

In [6]:
import requests
from bs4 import BeautifulSoup

url = "https://www.moneycontrol.com/news/business/startup/dropout-to-data-scientist-indian-firms-open-to-hiring-non-tech-candidates-with-relevant-skills-10708001.html"

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

# Find the text that you want to extract
article = soup.find("div", class_=["display: block;", "page_left_wrapper"])

if article:
    title = article.find("h1", class_="article_title artTitle")
    subtitle = article.find("h2", class_="article_desc") 
    author = article.find("div", class_="article_author")
    date = article.find("div", class_="article_schedule")
    contents = article.find("div", class_="content_wrapper arti-flow")

    if title:
        print("Title:", title.text.strip())
    else:
        print("Title not found.")
    
    if subtitle:
        print("Sub-title:", subtitle.text.strip())
    else:
        print("Subtitle not found.")

    if author:
        print("Author:", author.text.strip())
    else:
        print("Author not found.")

    if date:
        print("Date:", date.text.strip())
    else:
        print("Date not found.")

    if contents:
        print("Contents:", contents.text.strip())
    else:
        print("Contents not found.")
else:
    print("Article not found.")

Title: Dropout to data scientist: Indian firms open to hiring non-tech candidates with relevant skills
Sub-title: Amid a bleak employment market, job-seekers across sectors are now turning to tech upskilling to stay relevant in the techade. But the question also arises if Indian companies have moved away from traditional tech degrees yet?
Author: Mansi Verma
Date: Mumbai /   May 31, 2023 / 01:05 PM IST
Contents: Upskilling   At the age of 15, Prasanna Venkatesh was forced to halt his education owing to financial constraints while his friends began their grind to get into a legacy Indian tech institute.Two years later, in 2017, Venkatesh decided to pick up from where he left off. He enrolled for a diploma in electronics and communication engineering at a polytechnic college in Chennai, his hometown, taking the first possible entry back into the game.Story continues below AdvertisementRemove AdRealising his diploma was not enough, Venkatesh turned to upskilling for data science and artificial intelligence roles. “In the software industry, almost everything can be learned from open source or with very little fee. If you’re skilled enough, most of the companies do not care about the degree,” he told Moneycontrol.Soon, Venkatesh landed his first internship at a startup in June 2020 earning a salary of Rs 3 lakh per annum. During this time, he gained hands-on experience developing data science and AI solutions.Almost two years, three jobs and several experiences later, Venkatesh, today 23, earns a package of Rs 20 lakh per annum, working as a data scientist and leading the machine learning team at a business solutions startup. Related stories Ayodhya Ram Mandir: How this startup will assist UP Police with Artificial Intelligence to boost sec...Davos 2024: We are running out of data on the internet, say global AI expertsDavos 2024: Accenture invests $1 billion annually on Gen AI training, says CEO Julie Sweet Is the 23-year-old techie an outlier?Upskilling amid downturnHiring has been put on the back burner at many companies in the last year. Startups, navigating funding winter and demand slowdown, are focused on cutting employee costs that skyrocketed in 2021.Story continues below AdvertisementRemove AdAccording to a report by an executive search and talent advisory firm Longhouse Consulting, open positions at startups have dropped about 67 percent to close to two lakh openings in June 2022 to May 2023 period, compared to about 6 lakh in the same period over the previous two years.Meanwhile, companies in the IT space have been no different, as they turned to onboarding delays for freshers hired last year.This has also come in the age of generative AI, with many employers reassessing their workforce. Amid a bleak employment market, job-seekers across sectors are now turning to tech upskilling to stay relevant in the techade.But the question also arises if Indian companies have moved away from traditional tech degrees.Moneycontrol spoke to employees, HR experts and founders of upskilling startups to understand if Indian companies have grown to prioritise skills over degrees and are open to hiring non-traditional candidates with relevant prowess.The shiftNon-traditional candidates here include high school graduates, college dropouts, individuals with non-tech degrees, or those who possess bachelor's degrees in technology without a specialisation in computer science."We have observed a significant shift in the hiring practices of companies in the last decade. Today, 70 percent of companies that recruit candidates through us prioritise skills over the type of degrees candidates possess,” said Hari Krishnan Nair, co-founder of Great Learning, a Byju’s-owned upskilling startup.A growing realisation about the limitations of traditional degrees to assess employability and the democratisation of digital learning, among other factors, have contributed to this change, experts said.According to Sekhar Garisa, CEO of talent-management platform foundit (formerly Monster APAC & ME), a shift towards skill-based hiring for such candidates has been discussed in the industry for some time but the tools for assessment were lacking.“Now companies have adopted skill validation and verification processes, using tools such as coding challenges and aptitude tests that provide a more accurate assessment of a candidate's skills than what is written in a resume,” said Garisa.Hence, individuals who participate in skill verification contests or coding challenges stand a better chance of cracking recruitment processes.Today, several platforms offer calibration contests and assessments that allow techies to showcase their skills and receive verifiable skill scores that are recognised by recruiters, Garisa added.The big breakOver the years, the enduring allure of tech careers has attracted several aspirants to either stick to ‘the road mostly taken’ early on or switch their careers to move into it, at a later stage.“The motivation to invest in tech careers is often driven by the availability of open-source materials, the chance to gain reasonably good experience working on projects which can be created in isolation without being employed in a job, and the potential for higher pay,” said Anshuman Das, co-founder and CEO, Careernet, a talent solutions provider.Das believes the tech industry is more democratic and disruptive, allowing individuals without formal backgrounds to work around the status quo and succeed. “Tech is a far more welcoming industry amid others where a bastion of few leading companies has scaled to a stage that now no one can come in,” he added.While the tech career is enticing, the first battle to enter can be a tough one before the going gets comparatively easier as employees gain on-the-job training and work experience.Das said at an entry-level college reputation plays a significant role. “In all fairness, companies are less likely to give a break to non-tech candidates due to the already abundant pool of tech professionals in the industry,” he added.The gap is also visible in the open roles for non-traditional freshers and the compensation they draw out early on.According to data shared by TeamLease Digital, a technology professional services company, certain roles like quality assurance, test engineer, data analyst and IT business analyst still demand a formal tech degree.While such candidates with relevant skills can try their chances in generalist roles such as software engineer or developer, technical support executive, user interface, user experience and web designer, and technical writer among others, they are likely to be offered a lower base salary.“Unless you are outrageously talented and able to prove it, lower pay is only logical. You need to understand that the organisation is also taking a leap of faith on such candidates. But it's just about the starting point, if you are good enough, you will cover,” said foundit’s Garisa.As per Teamlease’s data, while candidates often start on a lower salary base compared to their counterparts with a tech degree, over time long-term prospects and advancement opportunities can vary from those who have a college degree. Experience based salary trend“The career trajectory of such candidates can vary significantly based on individual competencies, such as personal skills, experience, networking, and the specific roles and industries individuals are interested in pursuing,” said Krishna Vij, Business Head, TeamLease Digital, highlighting caveats to the data.Startups versus large organisationsIn hiring such candidates, startups seem to be holding the edge.“Around 15-20 percent of our students are high school graduates. There are several startups, including some unicorns, which have hired these high school graduates. These students, at the age of just 19, have already found employment in the startup ecosystem,” said Prateek Shukla, co-founder and CEO, Masai School, an institute imparting tech skills.Garisa believes startups are generally willing to take more risks and value agility and attitude, making them open to hiring based on skills.According to Ankush Singla, co-founder and CEO, Coding Ninjas, a coding institute, within startups, product-based companies are more liberal in cases of a lack of a formal degree than service-based companies.“Service-based companies’ focus is on selling the expertise of their employees to clients, and having individuals from top colleges makes the selling process easier. On the other hand, product-based companies are primarily concerned with the ability to build and contribute effectively to their products and less about educational qualifications,” Singla told Moneycontrol.In deep tech fields, having a relevant educational background or degree is often necessary due to the complexity of the subject matter, Singla added. Industry-based salary trendApart from tech startups, especially product companies, industries like digital marketing, design, content creation, IT services, BFSI and consulting are also open to hiring non-traditional candidates in tech roles based on relevant skills.“Our learners coming from non-tech backgrounds such as B.Com, BBA, B.Sc are mostly hired by companies operating in the IT, consulting, pharma and healthcare sectors,” added Great Learning’s Nair.However, larger organisations are taking more time to adapt to this shift, Singla added. According to the data, the IT sector, the biggest employer of tech talent, weighs non-traditional candidates on a different scale offering a lower pay bracket of about Rs 2.5 - 5 lakh per annum compared to Rs 3 to 6 lakh per annum to those with a tech degree.Garisa concurs. Large companies often rely on line managers and talent acquisition teams for hiring, who tend to be risk-averse and prioritise fitting candidates into predefined structures, he said.“Startups, on the other hand, have decision-makers who are closely involved in the hiring process, giving them the authority and conviction to hire based on skills,” he added.A workaroundHR experts such as Garisa said they have taken up the responsibility to educate employers on strategies employed across industries for better decision-making in such cases.According to him, larger organisations are also implementing skill verification and using assessment platforms to identify qualified candidates. “However, biases in hiring might still creep in, as decisions are ultimately made by people who may carry preconceived notions,” he said.To address this, some progressive companies have now started exploring the anonymisation of certain profile details that are not relevant to hiring decisions. “Masking background information, the focus remains on evaluating skills rather than making biased judgments,” he added.According to Krishna Kumar, founder and CEO of upskilling platform Simplilearn, some companies are voicing their preference towards skills by giving differential package offers to candidates with certain skill sets or those who can ace pre-onboarding programs offered by them.What’s in your hand?While there might be challenges along the way, experts say candidates can work towards stacking the odds in their favour.“Some strategies to increase the exposure towards the opportunities are networking, proactive application through job boards and tech forums, and participation in multiple online tests in job fairs, coding tests and so on,” said TeamLease Digital’s Vij.Great Learning’s Nair said that learners should work on capstone projects based on real-world application of the skills they acquire.On another note, Careernet’s Das believes being passionate and genuinely interested in the industry is crucial for long-term success. “It's important not to be a career tourist and to fully commit to the field,” he said.Impact on college degreesSimplilearn’s Kumar believes over a period what skill you acquired becomes more important than the degree you hold.However, Garisa reasoned that degrees from prestigious institutes might not just yet lose all significance.“The importance of top-tier colleges will always remain because that stands for something. It's a validation that you are good and have been consistent in what you do,” he said. Garisa added, “But beyond the top tier, mid and lower-rank colleges will definitely lose their sheen.”Kumar agreed and said that the value of such degrees appreciates during downturns.“Candidates from IITs or NITs that got offers from good companies have been allowed to join also because those companies don't want to impact their relationship with such colleges, whereas a lot of impacted people are the ones from tier two or three colleges,” he said.Garisa said, “To find a house, to find a partner, to find a job, and to earn respect with your relatives and peers – degrees are useful in a lot of ways in our country.”However, he added that while it is not advisable and ideal to skip a formal degree to get into this industry, it would not be the end of the world to not have one.“However, if you have a degree but no skills, you will still be in trouble. You don't have a degree, you have skills, you will still be good,” he added.

In [14]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

url = "https://www.luxepolis.com/all-brands/louis-vuitton/?product_condition=2732"

# Set up the Selenium WebDriver
options = webdriver.ChromeOptions()
options.add_argument("--headless")
driver = webdriver.Chrome(options=options)
driver.get(url)

# Initialize the DataFrame and wait for the content to load
data = []

try:
    wait = WebDriverWait(driver, 60)  # Increase the timeout value to 60 seconds
    wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, ".product-listing")))

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(driver.page_source, 'html.parser')

    # Find the elements and extract the required data
    elements = soup.select(".product-listing")

    for element in elements:
        title_element = element.select_one(".prd-brand")
        price_element = element.select_one(".price.dis-price-label")
        emi_available_element = element.select_one(".emi-avl.pull-left")
        
        if title_element and price_element:
            title = title_element.text.strip()
            price = price_element.text.strip()
            emi_available = bool(emi_available_element)

            data.append([title, price, emi_available])

except TimeoutException:
    print("The website took too long to load. Please try again later.")

finally:
    # Create a DataFrame and display the results
    df = pd.DataFrame(data, columns=["Product Name", "Product Price", "EMI Available"])
    print(df)

    # Close the WebDriver
    driver.quit()

     Product Name Product Price  EMI Available
0   Louis Vuitton     INR27,000           True
1   Louis Vuitton    INR172,000           True
2   Louis Vuitton     INR47,000           True
3   Louis Vuitton     INR30,000           True
4   Louis Vuitton    INR130,000           True
5   Louis Vuitton    INR135,000           True
6   Louis Vuitton     INR47,000           True
7   Louis Vuitton     INR74,000           True
8   Louis Vuitton    INR129,000           True
9   Louis Vuitton    INR122,500           True
10  Louis Vuitton     INR12,500           True
11  Louis Vuitton     INR65,000           True
12  Louis Vuitton    INR155,000           True
13  Louis Vuitton    INR230,000           True
14  Louis Vuitton     INR74,000           True
15  Louis Vuitton    INR128,000           True
16  Louis Vuitton     INR20,000           True
17  Louis Vuitton     INR30,000           True
18  Louis Vuitton     INR23,000           True
19  Louis Vuitton     INR24,000           True
20  Louis Vuitton     INR90,900           True
21  Louis Vuitton    INR143,300           True
22  Louis Vuitton    INR119,000           True
23  Louis Vuitton     INR30,800           True
24  Louis Vuitton    INR109,600           True

In [2]:
import requests
import pandas as pd

url = "https://www.espncricinfo.com/records/largest-margin-of-victory-by-runs-283902"

response = requests.get(url)

df = pd.read_html(response.content)[0]

df.columns = ["Winner", "Margin", "Target", "Overs", "Opposition","Ground","Match Date","Scorecard"]

df

         Winner    Margin  Target  Overs      Opposition              Ground  \
0         India  317 runs     391   22.0     v Sri Lanka  Thiruvananthapuram
1     Australia  309 runs     400   21.0   v Netherlands               Delhi
2      Zimbabwe  304 runs     409   25.1        v U.S.A.              Harare
3         India  302 runs     358   19.4     v Sri Lanka            Wankhede
4   New Zealand  290 runs     403   28.4       v Ireland            Aberdeen
..          ...       ...     ...    ...             ...                 ...
95        India  181 runs     312   42.3       v Namibia    Pietermaritzburg
96      England  181 runs     369   39.0   v New Zealand            The Oval
97    Australia  180 runs     255   27.4    v Bangladesh              Darwin
98    Sri Lanka  180 runs     321   31.5  v South Africa       Colombo (RPS)
99     Pakistan  180 runs     339   30.3         v India            The Oval

     Match Date   Scorecard
0   15 Jan 2023  ODI # 4505
1   25 Oct 2023  ODI # 4681
2   26 Jun 2023  ODI # 4601
3    2 Nov 2023  ODI # 4690
4    1 Jul 2008  ODI # 2727
..          ...         ...
95  23 Feb 2003  ODI # 1964
96  13 Sep 2023  ODI # 4643
97  30 Aug 2008  ODI # 2758
98  20 Jul 2013  ODI # 3392
99  18 Jun 2017  ODI # 3894

[100 rows x 8 columns]

In [7]:
import requests
import pandas as pd
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
response = requests.get(url)
df = pd.read_html(response.content)[0]
df.columns = ["Country/Area", "UN continental region", "UN statistical region", "Population (1 July 2022)", "Population (1 July 2023)", "Change"]
df

,Country/Area,UN continental region,UN statistical region,Population (1 July 2022),Population (1 July 2023),Change
0,NaN,NaN,NaN,NaN,NaN,NaN
1,World,NaN,NaN,7.975105e+09,8.045311e+09,+0.88%
2,India,Asia,Southern Asia,1.417173e+09,1.428628e+09,+0.81%
3,China[a],Asia,Eastern Asia,1.425887e+09,1.425671e+09,−0.02%
4,United States,Americas,Northern America,3.382899e+08,3.399966e+08,+0.50%
...,...,...,...,...,...,...
235,Falkland Islands (United Kingdom),Americas,South America,3.780000e+03,3.791000e+03,+0.29%
236,Niue,Oceania,Polynesia,1.934000e+03,1.935000e+03,+0.05%
237,Tokelau (New Zealand),Oceania,Polynesia,1.871000e+03,1.893000e+03,+1.18%
238,Vatican City[x],Europe,Southern Europe,5.100000e+02,5.180000e+02,NaN
239,Pitcairn Islands (United Kingdom),Oceania,Polynesia,NaN,NaN,NaN

In [ ]:
!pip install pynytimes

In [ ]:

First install the pynytimes library to use the API to extract the relevant data 
from pynytimes import NYTAPI
nyt = NYTAPI("YOUR API KEY", parse_dates=True)
# Get reviews by author (first and last name)
reviews = nyt.book_reviews(author="Stephen King")

In [21]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.35-py2.py3-none-any.whl (72 kB)
     -------------------------------------- 72.2/72.2 kB 136.8 kB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (1.4.4)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ---------------------------------------- 2.9/2.9 MB 195.8 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pytz>=2022.5 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (4.9.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.0-cp310-cp310-win_amd64.whl (36 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (2.1.4)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\1508\appdata\local\anaconda30\lib\site-packages (from requests>=2.31->yfinance) (1.26.14)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.0-py3-none-any.whl size=135766 sha256=6c6fb0ce20da57d9a97c2000bc566d9ad2809e607ac1efec67fb865a383a3e7d
  Stored in directory: c:\users\1508\appdata\local\pip\cache\wheels\e2\b9\da\716514851b65304b2d24f2a161398b9470da589b08a5a586c8
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.0 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 yfinance-0.2.35

WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\1508\appdata\local\anaconda30\lib\site-packages)

In [8]:
import yfinance as yf
# Define the stock symbol and the date range
symbol = "AAPL"
start_date = "2020-01-01"
end_date = "2020-12-31"

In [9]:
# Fetch the historical stock data
stock_data = yf.download(symbol, start=start_date, end=end_date)
# Display the stock data
stock_data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.152649,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.441467,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.018669,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.675278,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.844353,132079200
...,...,...,...,...,...,...
2020-12-23,132.160004,132.429993,130.779999,130.960007,128.687256,88223700
2020-12-24,131.320007,133.460007,131.100006,131.970001,129.679718,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,134.317810,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,132.529373,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,131.399353,96452100

In [11]:
import requests
#https://aqicn.org/api/ 
#https://aqicn.org/data-platform/token/

# Replace 'YOUR_API_KEY' with the API key you received from the WAQI API website

api_key = "YOUR_API_KEY"
# List of cities to fetch AQI data for
cities = ['New York', 'Los Angeles', 'London', 'Tokyo', 'Beijing', "Paris", "Berlin", "Stockholm", "Warsaw", "Sofia", "New Delhi", "Dhaka", "Bangkok"]
# Fetch AQI data for each city and display the result
for city in cities:
    api_url = f"https://api.waqi.info/feed/{city}/?token={api_key}"
    response = requests.get(api_url)
    data = response.json()
    if data['status'] == 'ok':
        aqi = data['data']['aqi']
        print(f"Air Quality Index for {city}: {aqi}")
    else:
        print(f"Error fetching data for {city}: {data['status']}")

Air Quality Index for New York: 43
Air Quality Index for Los Angeles: 95
Air Quality Index for London: 57
Air Quality Index for Tokyo: 28
Air Quality Index for Beijing: 178
Air Quality Index for Paris: 70
Air Quality Index for Berlin: 55
Air Quality Index for Stockholm: 5
Air Quality Index for Warsaw: 82
Air Quality Index for Sofia: 26
Air Quality Index for New Delhi: 268
Air Quality Index for Dhaka: 292
Air Quality Index for Bangkok: 151

In [ ]:
#Access data from APIs
#https://github.com/public-api-lists/public-api-lists#public-api-lists